<div class="justify content center">
  <div class="container mt-3">
    <div class="row pb-3">
      <div class="col-10">
        <h2>Top 10 Songs</h2> 
      </div>
      <div class="col-2 d-flex justify-content-end "><button class="btn-outline-dark btn-sm " routerLink="Newsong">Add song</button></div>
    </div>
   
    <table class="table table-border-dark table-hover">
      <thead class="thead-dark">
        <tr style="background-color: rgb(79, 76, 76)">
          <th>ArtWork</th>
          <th>Song</th>
          <th>Date of release</th>
          <th>Artist</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of songs; let i = index">
          <td class="p-2">
            <img [src]="song?.coverImage" class="song-img" alt="Sheep" />
          </td>
          <td>{{ song?.songName }}</td>
          <td>{{ song?.date }}</td>
          <td>
            <span
              *ngFor="
                let artist of song.artist;
                let i = index;
                let count = count
              "
            >
              {{ artist.artistName }}
              <span *ngIf="i <= count - 2">,</span>
            </span>
          </td>
          
            <td>
            <button class="btn btn-primary" [routerLink]=" 'Rating/'+ song._id">Rate Now</button>

            </td>
         
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container mt-5">
    <h2>Top 10 Artist</h2>
    <table class="table table-border-dark table-hover table-image">
      <thead class="thead-dark">
        <tr style="background-color: rgb(102, 96, 96)">
          <th>Artist</th>
          <th>Date of Birth</th>
          <th>Bio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artist of topArtists; let i = index">
          <td>{{artist?.artistName}}</td>
          <td>{{artist?.DOB}}</td>
          <td> <span
            *ngFor="
              let song of artist.songs;
              let i = index;
              let count = count
            "
          >
            {{ song.songName }}
            <span *ngIf="i <= count - 2">,</span>
          </span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
