<div class="justify-content-center m-5">
  <div class="container px-5 m-5">
    <h2 class="ps-5">Adding new Artist</h2>
    <form
      class="form-horizontal"
      #newArtist="ngForm"
      (ngSubmit)="onSubmit(newArtist)"
    >
      <div class="form-group px-5 m-4">
        <label class="control-label col-sm-2 m-2">Artist Name:</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Enter song name"
            ngModel
            required
            name="artistName"
          />
        </div>
      </div>
      <div class="form-group px-5 m-4">
        <label class="control-label col-sm-2 m-2"
          >Date of Birth</label
        >
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            placeholder="Enter password"
            ngModel
            required
            name="DOB"
          />
        </div>
      </div>
        <div class="form-group px-5 m-4">
          <label class="control-label col-sm-2 m-2">Bio</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ngModel name="bio"></textarea>
        </div>
        </div>
      
      <div class="row m-4 px-5">
        <div class="form-group col-sm-2">
          <button type="submit" class="btn btn-primary">Submit </button>
        </div>
        <div class="form-group col-sm-3">
          <button type="button" class="btn btn-danger" routerLink="Newsong">Cancel </button>
        </div>
      </div>
    </form>
  </div>
</div>

 
   
 
