<div class="justify-content-center m-5">
  <div class="container px-5 m-5">
    <h2 class="ps-5">Adding new Songs</h2>
    <form
      class="form-horizontal"
      #newSong="ngForm"
      (ngSubmit)="onSubmit(newSong)"
    >
      <div class="form-group px-5 m-4">
        <label class="control-label col-sm-2 m-2">Song Name:</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Enter song name"
            ngModel
            required
            name="songName"
          />
        </div>
      </div>
      <div class="form-group px-5 m-4">
        <label class="control-label col-sm-2 m-2" for="pwd"
          >Date of Released:</label
        >
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            placeholder="Enter password"
            ngModel
            required
            name="date"
          />
        </div>
      </div>
        <div class="form-group px-5 m-4">
          <label class="control-label col-sm-2 m-2"  for="customFile">ArtWork</label>
          <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="coverImage"
            placeholder="Enter Your Song's Cover Image URL"
            ngModel
            required
          />
        </div>
        </div>
        <div class="form-group px-5 m-4">
          <label class="control-label " style="margin-right: 50px;" >Artists</label>
          <div class="row">
            <div class="col-sm-6">

              <ng-select ngModel [multiple]="true" name="artist">
                <ng-option *ngFor="let artist of Artists" [value]="artist._id">{{artist.artistName}}</ng-option>
             </ng-select>
             
          </div>
          <div  class="col-2"><button class="btn btn-primary" routerLink="/Artist">Add New Artist</button></div>
          </div>
        </div>
      <div class="row m-4 px-5">
        <div class="form-group col-sm-2">
          <button type="submit" class="btn-block btn-light" routerLink="">Cancel</button>
        </div>
        <div class="form-group col-sm-3">
          <button type="submit" class="btn-block btn-light">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
