<div class="container-fluid">
   <div class="row">

    <div class="col-11" >
        <h2 class="col-sm-3">Rating</h2>
      </div>
      <div class="col-1">
        <button type="button" class="btn-close col-1" aria-label="Close"></button>
      </div>
    </div>

   <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <label class="form-label" >Enter your name</label>
    <input class="form-control" ngModel name="username" type="text">
    <label class="form-label" >Enter your Email</label>
    <input class="form-control" ngModel name="email" type="email">
    <label class="form-label" >Rate</label>
    <ngb-rating class="pt-2" [max]="5" (rate)= rating  [readonly]="false"></ngb-rating>

    <button type="submit" class="ms-5 btn btn-primary">Submit</button>
   </form>
</div>