<div class="container-fluid">
   <div class="row">

    <div class="col-11" >
        <h2 class="col-sm-3">Rating</h2>
      </div>
      <div class="col-1">
        <button type="button" class="btn-close col-1" aria-label="Close"></button>
      </div>
    </div>

   <form action="">
    <label class="form-label"for="username">Enter your name</label>
    <input class="form-control" type="text">
    <label class="form-label" for="username">Enter your Email</label>
    <input class="form-control" type="text">
    <label class="form-label" for="rating">Rate</label>
    <ngb-rating class="pt-2" [max]="5" (rate)= this.Rating  [readonly]="false"></ngb-rating>

    <button type="submit" class="ms-5 btn btn-primary">Submit</button>
   </form>
</div>